<style type="text/css">
/*
 * Copyright 2013 Christophe-Marie Duquesne <chmd@chmd.fr>
 *
 * CSS for making a resume with pandoc. Inspired by moderncv.
 *
 * This CSS document is delivered to you under the CC BY-SA 3.0 License.
 * https://creativecommons.org/licenses/by-sa/3.0/deed.en_US
 */

html {
    background-color: lightgrey;
}

/* Whole document */
/* body { */
/*	font-family: Times, 'Times New Roman', serif; */
/*	width: 800px; */
/*	margin: auto; */
/*	background: #FFFFFF; */
/*	padding: 10px 10px 10px 10px; */
/*	text-align:justify; */
/* } */
body {
    margin: 24px auto;
    font-size: 0.8em;
    font-family: Verdana, Arial, Sans-serif;
    width: 800px;
    background-color: white;
    padding: 50px;
    box-shadow: 3px 3px 20px 4px grey;
    text-align:justify;
}
/* Title of the resume */
h1 {
    font-size: 40px;
    color: #656565;
    text-align:center;
    margin-bottom:15px;
}
h1:hover {
    background-color: #757575;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #333;
}

/* Titles of categories */
h2 {
    color: #397249;
}
/* There is a bar just before each category */
h2:before {
    content: "";
    display: inline-block;
    margin-right:1%;
    width: 16%;
    height: 10px;
    background-color: #9CB770;
}
h2:hover {
    background-color: #397249;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #333;
}

/* Definitions */
dt {
    float: left;
    clear: left;
    width: 15%;
    /*font-weight: bold;*/
}
dd {
    margin-left: 15%;
}
p {
    margin-top:0;
    margin-bottom:7px;
}

/* Blockquotes */
blockquote {
    text-align: center
}

/* Links */
a {
    text-decoration: none;
    color: #397249;
}
a:hover, a:active {
    background-color: #397249;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 1px 1px 1px #333;
}

/* Horizontal separators */
hr {
    color: #A6A6A6;
}

table {
    width: 100%;
}

</style>
